<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		 <!-- carosuel  -->
		        <div class="container-fluid m-0 p-0">
		            <div class="row">
		                <div class="col">
		                <div class="slider mt-0">
		            <div class="list">

		                <div class="item">
		                    <img src="./img/painter.jpg" alt="">
		    
		                    <div class="content"><!--  -->
		                        <div class="type">PAINTER</div>
		                        <div class="description">
		A painter is an artist who uses paint to create art on surfaces like paper or canvas.                  </div>
		                        <div class="button"><!-- <!--  --> 
		                            <button>SEE MORE</button>
		                        </div>
		                    </div>
		                </div>
		                <div class="item">
		                    <img src="./img/cook2.jpg" alt="">
		    
		                    <div class="content">
		                        <div class="type">CHEF</div>
		                        <div class="description">
		A chef is a culinary professional who uses their knowledge of food and preparation to create meals.                         </div>
		                        <div class="button">
		                            <button>SEE MORE</button>
		                        </div>
		                    </div>
		                </div>
		              
		                <div class="item">
		                    <img src="./img/barber3.jpg" alt="">
		    
		                    <div class="content">
		                        <div class="type">BARBER</div>
		                        <div class="description">
		Barbers, sometimes called hairstylists or cosmetologists, cut and style hair and may perform other beauty services.                        </div>
		                        <div class="button">
		                            <button>SEE MORE</button>
		                        </div>
		                    </div>
		                </div>

		                <div class="item">
		                    <img src="./img/electrician2.jpg" alt="">
		    
		                    <div class="content">
		                        <div class="type">ELECTRICIAN</div>
		                        <div class="description">
		An Electrician is a skilled professional who installs, maintains, and repairs electrical systems in buildings and structures.                        </div>
		                        <div class="button">
		                            <button>SEE MORE</button>
		                        </div>
		                    </div>
		                </div>
		              
		                <div class="item">
		                    <img src="./img/cleaner.jpg" alt="">
		    
		                    <div class="content">
		                        <div class="type">CLEANER</div>
		                        <div class="description">
		The Cleaner is responsible for cleaning, stocking, and supplying designated facility areas (dusting, sweeping, vacuuming, mopping, etc.).                        </div>
		                        <div class="button">
		                            <button><a href='cleaner.html'></a>SEE MORE</button>
		                        </div>
		                    </div>
		                </div>
		    
		            </div>
		            <div class="thumbnail">
		                <div class="item">
		                    <img src="./img/painter - Copy.jpg" alt="">
		                </div>
		                <div class="item">
		                    <img src="./img/cook2.jpg" alt="">
		                </div>
		               
		               
		                <div class="item">
		                    <img src="./img/barber3 - Copy.jpg" alt="">
		                </div>

		                <div class="item">
		                    <img src="./img/cleaner - Copy.jpg" alt="">
		                </div>
		                <div class="item">
		                    <img src="./img/electrician2.jpg" alt="">
		                </div>

		            </div>
		            <div class="nextPrevArrows">
		                <button class="prev"> < </button>
		                <button class="next"> > </button>
		            </div>
		    
		    
		        </div>
		            </div>
		    </div>
		    </div>

		    <!-- slider end  -->
		       <!-- services  -->
		       <div class="container-fluid" >
		        <div class="row">
		          <div class="col">
		            <div class="container py-5">
		              <h1 class="text-center text-warning" >Our Services</h1>
		              <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
		      
		                  <div class="col">
		                      <div class="card">
		                          <img src="./img/kitchen.jpg" class="card-img-top" alt="Sheff">
		                          <div class="card-body">
		                              <h5 class="card-title text-center">Cooks & Chefs</h5>
		                          </div>
		                          <div class="mb-5 d-flex justify-content-around">
		                              <button class="btn btn-primary buy"><a href="/cities/chefCity" id="book">Starts Rs.299 -></a></button>
		                          </div>
		                      </div>
		                  </div>
		      
		                  <div class="col">
		                      <div class="card">
		                          <img src="./img/electicity.jpg" class="card-img-top" alt="...">
		                          <div class="card-body">
		                              <h5 class="card-title text-center">Electricians</h5>
		                          </div>
		                          <div class="mb-5 d-flex justify-content-around">
		                              <button class="btn btn-primary buy"><a href="/cities/electricianCity" id="book">Starts Rs.199 -></a></button>
		                          </div>
		                      </div>
		                  </div>
		      
		                  <div class="col">
		                      <div class="card">
		                          <img src="./img/cleaning.jpg" class="card-img-top" alt="...">
		                          <div class="card-body">
		                              <h5 class="card-title text-center">House Keeping</h5>
		                          </div>
		                          <div class="mb-5 d-flex justify-content-around">
		                              <button class="btn btn-primary buy"><a href="/cities/cleanerCity" id="book">Starts Rs.99 -></a></button>
		                          </div>
		                      </div>
		                  </div>
		      
		                  <div class="col">
		                      <div class="card">
		                          <img src="./img/barb.jpg" class="card-img-top" alt="...">
		                          <div class="card-body">
		                              <h5 class="card-title text-center">Barber</h5>
		                          </div>
		                          <div class="mb-5 d-flex justify-content-around">
		                              <button class="btn btn-primary buy"><a href="/cities/barberCity" id="book">Starts Rs.119 -></a></button>
		                          </div>
		                      </div>
		                  </div>
		      
		                  <div class="col">
		                      <div class="card">
		                          <img src="./img/paint.avif" class="card-img-top" alt="...">
		                          <div class="card-body">
		                              <h5 class="card-title text-center">Painter</h5>
		                          </div>
		                          <div class="mb-5 d-flex justify-content-around">
		                              <button class="btn btn-primary buy"><a href="/cities/painterCity" id="book">Starts Rs.399 -></a></button>
		                          </div>
		                      </div>
		                  </div>
		      
		                  <div class="col">
		                      <div class="card">
		                          <img src="./img/plumbers.jpg" class="card-img-top" alt="...">
		                          <div class="card-body">
		                              <h5 class="card-title text-center">Plumber</h5>
		                          </div>
		                          <div class="mb-5 d-flex justify-content-around">
		                              <button class="btn btn-primary buy"><a href="/cities/plumberCity" id="book">Starts Rs.199 -></a></button>
		                          </div>
		                      </div>
		                  </div>
		              </div>
		          </div>
		          </div>
		        </div>
		      </div>
		      
		<!--       upcoming service  -->     
		              <h1 class="text-center text-warning mb-5" >Upcoming Services</h1>

		<div class="container swiper bg-primary" style="border-radius:50px;">
		    <div class="slider-wrapper">
		      <div class="card-list swiper-wrapper mt-5">
		        <div class="card-item swiper-slide">
		          <img src="images/tutor.jpg" alt="User Image" class="user-image">
		          <h2 class="user-name">Tutor</h2>
		          <button class="message-button">Available Soon</button>
		        </div>

		        <div class="card-item swiper-slide">
		          <img src="images/doctor.jpg" alt="User Image" class="user-image">
		          <h2 class="user-name">RMP Doctor</h2>
		          <button class="message-button">Available Soon</button>
		        </div>

		        <div class="card-item swiper-slide">
		          <img src="images/child.jpg" alt="User Image" class="user-image">
		          <h2 class="user-name">Child Care</h2>
		          <button class="message-button">Available Soon</button>
		        </div>

		        <div class="card-item swiper-slide">
		          <img src="images/photographer.jpg" alt="User Image" class="user-image">
		          <h2 class="user-name">PhotoGrapher</h2>
		          <button class="message-button">Available Soon</button>
		        </div>

		        <div class="card-item swiper-slide">
		          <img src="images/driver.jpg" alt="User Image" class="user-image">
		          <h2 class="user-name">Driver</h2>
		          <button class="message-button">Available Soon</button>
		        </div>
		      </div>

		      <div class="swiper-pagination"></div>
		      <div class="swiper-slide-button swiper-button-prev"></div>
		      <div class="swiper-slide-button swiper-button-next"></div>
		    </div>
		  </div>
		<!-- upcoming service end -->   

		<!-- reviews start
		 -->  <h1 class="text-center text-warning mt-5 mb-5" >Customers Review</h1>

		<div class="container mt-3 p-5">

		    <div class="row">
		        <div class=" col-md-8 mx-auto mb-3">
		            <div id="testimonial-slider" class="owl-carousel">
		               <div class="testimonial">
		                    <div class="pic">
		                        <img src="http://www.markharwood.plus.com/images/people%20large/people8.jpg" alt="" class="img-responsive">
		                    </div>
		                    <h1 class="testimonial-info">
		                        Diana
		                        <small>Web Designer</small>
		                    </h1>
		                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis.</p>
		                </div>

		                <div class="testimonial">
		                    <div class="pic">
		                        <img src="http://www.markharwood.plus.com/images/people%20large/people8.jpg" alt="" class="img-responsive">
		                    </div>
		                    <h1 class="testimonial-info">
		                        Diana
		                        <small>Web Designer</small>
		                    </h1>
		                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis.</p>
		                </div>
		                  <div class="testimonial">
		                    <div class="pic">
		                        <img src="http://www.markharwood.plus.com/images/people%20large/people8.jpg" alt="" class="img-responsive">
		                    </div>
		                    <h1 class="testimonial-info">
		                        Diana
		                        <small>Web Designer</small>
		                    </h1>
		                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis.</p>
		                </div>
		                  <div class="testimonial">
		                    <div class="pic">
		                        <img src="http://www.markharwood.plus.com/images/people%20large/people8.jpg" alt="" class="img-responsive">
		                    </div>
		                    <h1 class="testimonial-info">
		                        Diana
		                        <small>Web Designer</small>
		                    </h1>
		                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis.</p>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>


		<!-- reviews 
		 -->                
		  <!-- cities  -->

		      <div class="serving-section">
		        <h2 class="text-warning ">Serving In</h2>
		        <p>27+ Cities and counting</p>
		        <div class="city-grid">
		            <div class="city">
		                <img src="images/Delhi.jpg" alt="Delhi">
		                <a href="service_provider/sheff.html" id="city"><p>Delhi</p></a>
		            </div>
		            <div class="city">
		                <img src="images/noida.jpg" alt="Noida">
		                <a href="delhi.html" id="city"><p>Noida</p></a>
		            </div>
		            <div class="city">
		                <img src="images/gurugram.jpg" alt="Gurugram">
		                <a href="delhi.html" id="city"><p>Gurugram</p></a>
		            </div>
		            <div class="city">
		                <img src="images/gaziabad1.jpg" alt="Ghaziabad">
		                <a href="delhi.html" id="city"><p>Ghaziabad</p></a>
		            </div>
		            <div class="city">
		                <img src="images/Faridabad.jpg" alt="Faridabad">
		                <a href="delhi.html" id="city"><p>Faridabad</p></a>
		            </div>
		            <div class="city">
		                <img src="images/gorakhpur.png" alt="Gorakhpur">
		                <a href="delhi.html" id="city"><p>Gorakhpur</p></a>
		            </div>
		            <div class="city">
		                <img src="images/bengaluru.jpg" alt="Bengaluru">
		                <a href="delhi.html" id="city"><p>Bengaluru</p></a>
		            </div>
		            <div class="city">
		                <img src="images/hyderabad.jpg" alt="Hyderabad">
		                <a href="delhi.html" id="city"><p>Hyderabad</p></a>
		            </div>
		            <div class="city">
		                <img src="images/chennai.jpg" alt="Chennai">
		                <a href="delhi.html" id="city"><p>Chennai</p></a>
		            </div>
		            <div class="city">
		                <img src="images/kolkata.jpg" alt="Kolkata">
		                <a href="delhi.html" id="city"><p>Kolkata</p></a>
		            </div>
		            <div class="city">
		                <img src="images/ahmedabad.jpg" alt="Ahmedabad">
		                <a href="delhi.html" id="city"><p>Ahmedabad</p></a>
		            </div>
		            <div class="city">
		                <img src="images/jaipur.jpg" alt="Jaipur">
		                <a href="delhi.html" id="city"><p>Jaipur</p></a>
		            </div>
		            <div class="city">
		                <img src="images/pune.jpg" alt="Pune">
		                <a href="delhi.html" id="city"><p>Pune</p></a>
		            </div>
		            <div class="city">
		                <img src="images/mumbai.jpg" alt="Mumbai">
		                <a href="delhi.html" id="city"><p>Mumbai</p></a>
		            </div>
		            <div class="city">
		                <img src="images/thane.jpg" alt="Thane">
		                <a href="delhi.html" id="city"><p>Thane</p></a>
		            </div>
		            <div class="city">
		                <img src="images/Kanpur.jpeg" alt="Kanpur">
		                <a href="delhi.html" id="city"><p>Kanpur</p></a>
		            </div>
		            <div class="city">
		                <img src="images/indore.jpg" alt="Indore">
		                <a href="delhi.html" id="city"><p>Indore</p></a>
		            </div>
		            <div class="city">
		                <img src="images/chandigarh.jpg" alt="Chandigarh">
		                <a href="delhi.html" id="city"><p>Chandigarh</p></a>
		            </div>
		            <div class="city">
		                <img src="images/allahabad.jpg" alt="Allahabad">
		                <a href="delhi.html" id="city"><p>Allahabad</p></a>
		            </div>
		            <div class="city">
		                <img src="images/Varanasi.jpg" alt="Varanasi">
		                <a href="delhi.html" id="city"><p>Varanasi</p></a>
		            </div>
		            <div class="city">
		                <img src="images/BalliaUp60.jpg" alt="Balia">
		                <a href="delhi.html" id="city"><p>Balia</p></a>
		            </div>
		            <div class="city">
		                <img src="images/Sarnath.png" alt="Sarnath">
		                <a href="delhi.html" id="city"><p>Sarnath</p></a>
		            </div>
		            <div class="city">
		                <img src="images/Lucknow.jpg" alt="Lucknow">
		                <a href="delhi.html" id="city"><p>Lucknow</p></a>
		            </div>
		            <div class="city">
		                <img src="images/Haridwar.png" alt="Haridwar">
		                <a href="delhi.html" id="city"><p>Haridwar</p></a>
		            </div>
		            <div class="city">
		                <img src="images/dehradun.jpg" alt="Dehradun">
		                <a href="delhi.html" id="city"><p>Dehradun</p></a>
		            </div>
		            <div class="city">
		                <img src="images/Patna.jpg" alt="Patna">
		                <a href="delhi.html" id="city"><p>Patna</p></a>
		            </div>
		            <div class="city">
		                <img src="images/oddisa.png" alt="Odisa">
		                <a href="delhi.html" id="city"><p>Odisa</p></a>
		            </div>
		            <div class="city">
		                <img src="images/india.jpg" alt="Other City">
		                <p>Other City</p>
		            </div>
		        </div>
		    </div>
		    
		      <!-- cities end  -->
		    

		 <!-- <!- Team Starts --> 
		 <div class="container-fluid py-5 " id="our-team">
		    <div class="container">
		        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
		            <h1 class="display-6 mb-5 text-warning">Meet Our Team Members</h1>
		        </div>
		        <div class="row g-4">
		            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
		                <div class="team-item">
		                    <div class="team-img position-relative overflow-hidden">
		                        <img class="img-fluid" src="img/shubham1.jpeg" alt="">
		                        <div class="team-social">
		                            <a class="btn btn-square btn-primary rounded-circle m-1" href=""><i class="fab fa-facebook-f"></i></a>
		                            <a class="btn btn-square btn-primary rounded-circle m-1" href=""><i class="fab fa-twitter"></i></a>
		                            <a class="btn btn-square btn-primary rounded-circle m-1" href=""><i class="fab fa-instagram"></i></a>
		                        </div>
		                    </div>
		                    <div class="bg-light text-center p-4">
		                        <h5 class="text-dark">Shubham Sharma</h5>
		                        <span class="text-primary">Developer</span>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
		                <div class="team-item">
		                    <div class="team-img position-relative overflow-hidden">
		                        <img class="img-fluid" src="img/manish.jpeg" alt="">
		                        <div class="team-social">
		                            <a class="btn btn-square btn-primary rounded-circle m-1" href=""><i class="fab fa-facebook-f"></i></a>
		                            <a class="btn btn-square btn-primary rounded-circle m-1" href=""><i class="fab fa-twitter"></i></a>
		                            <a class="btn btn-square btn-primary rounded-circle m-1" href=""><i class="fab fa-instagram"></i></a>
		                        </div>
		                    </div>
		                    <div class="bg-light text-center p-4">
		                        <h5 class="text-dark">Manish Mishra</h5>
		                        <span class="text-primary">Developer</span>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
		                <div class="team-item">
		                    <div class="team-img position-relative overflow-hidden">
		                        <img class="img-fluid" src="img/ankita.jpeg" alt="">
		                        <div class="team-social">
		                            <a class="btn btn-square btn-primary rounded-circle m-1" href=""><i class="fab fa-facebook-f"></i></a>
		                            <a class="btn btn-square btn-primary rounded-circle m-1" href=""><i class="fab fa-twitter"></i></a>
		                            <a class="btn btn-square btn-primary rounded-circle m-1" href=""><i class="fab fa-instagram"></i></a>
		                        </div>
		                    </div>
		                    <div class="bg-light text-center p-4">
		                        <h5 class="text-dark">Ankita Mandale</h5>
		                        <span class="text-primary">Developer</span>
		                    </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
		                <div class="team-item">
		                    <div class="team-img position-relative overflow-hidden">
		                        <img class="img-fluid" src="img/rk.jpg" alt="rk developer">
		                        <div class="team-social">
		                            <a class="btn btn-square btn-primary rounded-circle m-1" href=""><i class="fab fa-facebook-f"></i></a>
		                            <a class="btn btn-square btn-primary rounded-circle m-1" href=""><i class="fab fa-twitter"></i></a>
		                            <a class="btn btn-square btn-primary rounded-circle m-1" href=""><i class="fab fa-instagram"></i></a>
		                        </div>
		                    </div>
		                    <div class="bg-light text-center p-4">
		                        <h5 class="text-dark">Rajkumar Bhanoth</h5>
		                        <span class="text-primary">Developer</span>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- Team End -->

		<!-- //blog -->

		<section id="blog">
		    <div class="container">
		        <h3 class="text-warning">Blogs and Articles</h3>
		        <div id="blog-par">
		            <div class="blog-content">
		                <div class="blog-img">
		                    <img class="img-responsive" src="" />
		                </div>
		                <div class="blog-info">
		                   
		                    <h4><a href="https://www.culturalindia.net/indian-food/">Cultural India : Indian Food</a></h4>
		                    <p>The traditional food of India has been widely appreciated for its fabulous use of herbs and spices. Indian cuisine is known for its large assortment of dishes.</p>
		                </div>
		            </div>
		            <div class="blog-content">
		                <div class="blog-img">
		                    <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTayfiy5ZdbssjWkZXaC2JMkZ6Axqy_4CTHOg&usqp=CAU" />
		                </div>
		                <div class="blog-info">
		                  
		                    <h4><a href="http://soumikbhattacharya.blogspot.com/2006/06/unity-of-india-in-diversity.html">The Unity of India in Diversity : Religions</a></h4>
		                    <p>Diversity characterizes India. The diverse characters of India are strongly unified and perfectly assimilated to emerge as a one single nation.</p>
		                </div>
		            </div>
		        </div>
		        <div id="blog-par">
		            <div class="blog-content">
		                <div class="blog-img">
		                    <img class="img-responsive" src="https://e9h9g3x6.rocketcdn.me/wp-content/uploads/2016/05/shutterstock_124237597-860x571.jpg.webp" />
		                </div>
		                <div class="blog-info">
		                   
		                    <h4><a href="https://www.translatemedia.com/translation-blog/look-indias-amazing-linguistic-diversity/" target="_blank">A Look at Indiaâs Amazing Linguistic Diversity</a></h4>
		                    <p>India is a big country and it packs in an astonishing array of languages.
		                        
		                        Itâs unlikely that any other country in the world matches India for 
		                        linguistic diversity.</p>
		                </div>
		            </div>
		            
		            <div class="blog-content">
		                <div class="blog-img">
		                    <img class="img-responsive" src="https://d.newsweek.com/en/full/1669799/diwali-celebrations.jpg?w=1600&h=900&q=88&f=a41dbae89faa01003f9e4686e91ebe4c" />
		                </div>
		                <div class="blog-info">
		                  
		                    <h4><a href="https://www.treebo.com/blog/religious-festivals-of-india/" target="_blank">The Spectrum of National festivals of India</a></h4>
		                    <p>Such diverse cultures, culminating such varied festivals and that too under the name of a single country; such is the greatness of Indian culture. </p>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>


	</section>
</body>
</html>